<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <!-- Start Footer Area -->
    <footer th:fragment="footer">
        <div class="container">
            <div class="mt-50 mb-50">
                <div class="col-12">
                    <div class="d-flex justify-content-center">
                        <img src="dist/images/logo/footer-logo.png" alt="Logo">
                        <ul class="my-auto">
                            <li>
                                <span><b>주소</b>&nbsp; 당고시 당고구 당고동</span>
                            </li>
                            <li>
                                <span><b>고객문의</b>&nbsp; dango@dango.com</span>
                            </li>
                        </ul>
                    </div>
                    <br>
                    <div class="d-flex justify-content-center">
                        <a href="#" class="col-1"><b>이용약관</b></a>
                        <a href="#"><b>개인정보처리방침</b></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--/ End Footer Area -->
</body>
</html>