<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <!-- Start Hero Area -->
    <section class="hero-area" th:fragment="heroSlider">
        <div class="container">
            <div class="row">
                <div class="slider-head">
                    <!-- Start Hero Slider -->
                    <div class="hero-slider">
                        <!-- Start Single Slider -->
                        <div class="single-slider" style="background-color: lightgray;"></div>
                    </div>
                    <!-- End Single Slider -->
                </div>
                <!-- End Hero Slider -->
            </div>
        </div>
    </section>
    <!-- End Hero Area -->
</body>
</html>