<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>dango :: login</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Common Configuration -->
    <th:block th:replace="~{common/fragments/commonConfig :: commonConfig}"></th:block>
    <!-- Login CSS -->
    <link rel="stylesheet" type="text/css" href="/dist/css/loginUtil.css">
    <link rel="stylesheet" type="text/css" href="/dist/css/userLogin.css">
</head>
<body>
    <!-- Header Area -->
    <header th:replace="~{common/fragments/header :: header}"></header>
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <form class="login100-form validate-form flex-sb flex-w">
                    <span class="login100-form-title p-b-51">
                        Login
                    </span>
                    <!-- ID -->
                    <div class="wrap-input100 validate-input m-b-16" data-validate="Username is required">
                        <input class="input100" type="text" name="username" placeholder="Username">
                        <span class="focus-input100"></span>
                    </div>
                    <!-- Password -->
                    <div class="wrap-input100 validate-input m-b-16" data-validate="Password is required">
                        <input class="input100" type="password" name="password" placeholder="Password">
                        <span class="focus-input100"></span>
                    </div>
                    <div class="flex-sb-m w-full p-t-3 p-b-24">
                        <!-- Remember me -->
                        <div class="contact100-form-checkbox">
                            <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
                            <label class="label-checkbox100" for="ckb1">
                                로그인 상태 유지
                            </label>
                        </div>
                    </div>
                    <!-- Login Button -->
                    <div class="container-login100-form-btn m-t-17">
                        <button class="login100-form-btn">
                            Login
                        </button>
                    </div>
                    <!-- 아이디/비밀번호/회원가입 -->
                    <div class="login100-form-title p-b-51 mt-30 d-flex justify-content-center">
                        <a href="#" class="txt1 col-4">
                            아이디 찾기
                        </a>
                        <p>|</p>
                        <a href="#" class="txt1 col-4">
                            비밀번호 찾기
                        </a>
                        <p>|</p>
                        <a href="#" class="txt1 col-3">
                            회원가입
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Footer Area -->
    <footer th:replace="~{common/fragments/footer :: footer}"></footer>
    <!-- Scroll Top -->
    <a th:replace="~{common/fragments/scrollTop :: scrollTop}"></a>
</body>
</html>